fastapi
uvicorn
asyncio
ultralytics
numpy
opencv-contrib-python
opencv-python-headless
websockets
fastapi[standard]
uvicorn[standard]
python-multipart
pillow
aiofiles
tqdm
matplotlib
pandas
requests
typing
omegaconf
